{
  "openapi": "3.1.1",
  "info": {
    "title": "eTasks Server",
    "description": "Esta é a documentação oficial da API do eTasks. Você encontrará informações sobre todas as possibilidades que a API oferece para gestão de todas as funcionalidades do sistema.",
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://etasks-server.runasp.net/"
    }
  ],
  "paths": {
    "/api/v2/version": {
      "get": {
        "tags": [
          "Versão da aplicação"
        ],
        "summary": "Obtém a versão atual do aplicativo",
        "description": "Retorna a versão atual do aplicativo, incluindo informações como número da versão, URL para download, etc.",
        "operationId": "Obter versão do eTasks",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eTasksVersion"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v2/online": {
      "get": {
        "tags": [
          "Utilidades"
        ],
        "summary": "Verifica se o servidor está online.",
        "description": "Endpoint para verificar se o servidor está online.",
        "operationId": "Utilidades",
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/v2/server-time": {
      "get": {
        "tags": [
          "Utilidades"
        ],
        "summary": "Obtém a hora atual do servidor.",
        "description": "Endpoint para obter a hora atual do servidor.",
        "operationId": "Hora servidor",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/ip": {
      "get": {
        "tags": [
          "Utilidades"
        ],
        "summary": "Obtém o endereço IP do usuário da requisição",
        "description": "Endpoint para obter o endereço IP do cliente.",
        "operationId": "IP",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api/v2/auth/login": {
      "post": {
        "tags": [
          "Autenticacao"
        ],
        "summary": "Realiza o login de um usuário retornando JWT e Refresh Token.",
        "description": "O JWT deve ser enviado no header Authorization Bearer para acessar rotas protegidas. O Refresh Token pode ser usado para obter um novo JWT sem precisar fazer login novamente, desde que o Refresh Token seja válido e não tenha expirado.",
        "operationId": "Login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v2/auth/register": {
      "post": {
        "tags": [
          "Autenticacao"
        ],
        "summary": "Registra um novo usuário no sistema.",
        "description": "Após o registro, um e-mail de confirmação será enviado. O usuário deve clicar no link de confirmação para ativar a conta antes de poder fazer login.",
        "operationId": "UserRegister",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/auth/refresh": {
      "post": {
        "tags": [
          "Autenticacao"
        ],
        "summary": "Troca um Refresh Token válido e não expirado por um novo Token JWT.",
        "description": "Utilizado para obter um novo JWT sem precisar fazer login novamente, desde que o Refresh Token seja válido e não tenha expirado. O JWT retornado deve ser usado no header Authorization Bearer para acessar rotas protegidas.",
        "operationId": "RefreshToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "null"
                  },
                  {
                    "$ref": "#/components/schemas/RefreshTokenRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v2/auth/logout": {
      "post": {
        "tags": [
          "Autenticacao"
        ],
        "summary": "Revoga o refresh token atual e remove os cookies HttpOnly de autenticação.",
        "operationId": "Logout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "null"
                  },
                  {
                    "$ref": "#/components/schemas/RefreshTokenRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v2/auth/forgot-password": {
      "post": {
        "tags": [
          "Autenticacao"
        ],
        "summary": "Solicita envio de código de redefinição de senha.",
        "description": "Utilizado para solicitar o envio de um código de redefinição de senha para o e-mail do usuário. Se o e-mail existir no sistema, um código de 6 digitos será enviado.",
        "operationId": "ForgotPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForgotPasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PasswordResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v2/auth/reset-password": {
      "post": {
        "tags": [
          "Autenticacao"
        ],
        "summary": "Valida o código de 6 digitos e altera a senha da conta.",
        "description": "Utilizado para redefinir a senha de um usuário. O código enviado para o e-mail deve ser informado junto com a nova senha.",
        "operationId": "ResetPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PasswordResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v2/auth/change-password": {
      "post": {
        "tags": [
          "Autenticacao"
        ],
        "summary": "Altera a senha de um usuário autenticado via JWT Bearer.",
        "description": "O usuario deve fornecer a senha atual e a nova senha. O JWT deve ser enviado no header Authorization Bearer.",
        "operationId": "ChangePassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PasswordResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v2/auth/confirm-email": {
      "get": {
        "tags": [
          "Autenticacao"
        ],
        "summary": "Valida o token JWT e ativa a conta garantindo a veracidade do endereço de e-mail.",
        "description": "Utilizado para confirmar o endereço de e-mail de um usuário após o registro.",
        "operationId": "ConfirmEmail",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v2/auth/recover-account": {
      "get": {
        "tags": [
          "Autenticacao"
        ],
        "summary": "Reativa uma conta removida logicamente usando o link enviado por e-mail.",
        "description": "Valida o codigo de reativacao enviado por e-mail apos a solicitacao de exclusao da conta. Se o codigo estiver valido, a conta volta a ficar ativa.",
        "operationId": "RecoverDeletedAccount",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v2/auth/google/start": {
      "post": {
        "tags": [
          "Autenticacao"
        ],
        "summary": "Cria uma sessão de login Google OpenID Connect e retorna a URL de autorização.",
        "operationId": "GoogleAuthStart",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleAuthStartRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleAuthStartResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Autenticacao"
        ],
        "summary": "Inicia o login Google por redirecionamento direto do navegador.",
        "operationId": "GoogleAuthStartRedirect",
        "parameters": [
          {
            "name": "userAgent",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientInstanceId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "returnUrl",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/auth/google/callback": {
      "get": {
        "tags": [
          "Autenticacao"
        ],
        "summary": "Callback OAuth/OpenID Connect usado pelo Google.",
        "operationId": "GoogleAuthCallback",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "error",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "error_description",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/auth/google/status": {
      "get": {
        "tags": [
          "Autenticacao"
        ],
        "summary": "Consulta o estado de uma sessão de login Google.",
        "operationId": "GoogleAuthStatus",
        "parameters": [
          {
            "name": "sessionCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "userAgent",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientInstanceId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleAuthStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/auth/google/consume": {
      "post": {
        "tags": [
          "Autenticacao"
        ],
        "summary": "Consome uma sessão Google concluída e retorna LoginResponse JWT/refresh.",
        "operationId": "GoogleAuthConsume",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleAuthConsumeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/ai/capabilities": {
      "get": {
        "tags": [
          "AI"
        ],
        "summary": "Lista os usos recomendados de IA por recurso dentro do eTasks.",
        "operationId": "GetAICapabilities",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiCapabilitiesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/ai/assist": {
      "post": {
        "tags": [
          "AI"
        ],
        "summary": "Executa uma assistência de IA contextualizada para o usuário autenticado.",
        "operationId": "AssistWithAI",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AiAssistRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiAssistResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/ai/{resource}/assist": {
      "post": {
        "tags": [
          "AI"
        ],
        "summary": "Executa assistência de IA para um recurso específico do usuário autenticado.",
        "operationId": "AssistWithAIForResource",
        "parameters": [
          {
            "name": "resource",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AiAssistRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiAssistResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/usuarios": {
      "get": {
        "tags": [
          "Usuários"
        ],
        "summary": "Obtém o perfil do usuário autenticado.",
        "description": "Retorna as informações básicas do perfil do usuário atualmente autenticado, como nome, e-mail, foto e outras configurações relacionadas ao perfil.",
        "operationId": "GetCurrentUserProfile",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Usuários"
        ],
        "summary": "Atualiza nome, e-mail e foto do usuário autenticado.",
        "description": "Permite alterar o nome, e-mail e foto do usuário atualmente autenticado. O campo PhotoBase64 deve conter a nova foto em base64 ou ser nulo para manter a foto atual. Se RemovePhoto for true, a foto será removida independentemente do valor de PhotoBase64. O endpoint retorna o perfil atualizado após a modificação.",
        "operationId": "UpdateCurrentUserProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserProfileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "patch": {
        "tags": [
          "Usuários"
        ],
        "summary": "Atualiza parcialmente as configurações do usuário autenticado.",
        "description": "Permite atualizar parcialmente as configurações do usuário atualmente autenticado, como tema, idioma, tela inicial e preferências do sistema de bônus. O endpoint aceita apenas os campos que devem ser alterados, mantendo os demais inalterados. Retorna as configurações atualizadas após a modificação.",
        "operationId": "PatchCurrentUserSettings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchUserSettingsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSettingsDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Usuários"
        ],
        "summary": "Remove logicamente a conta do usuário autenticado e revoga suas sessões.",
        "description": "Permite que o usuário autenticado remova logicamente sua conta, tornando-a inativa e inacessível para futuras autenticações. O endpoint também revoga as sessões ativas do usuário, garantindo que ele seja desconectado de todos os dispositivos. A operação é protegida e requer autenticação. Após a exclusão, o usuário não poderá mais acessar recursos protegidos até que uma nova conta seja criada.",
        "operationId": "DeleteCurrentUserAccount",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v2/usuarios/settings": {
      "get": {
        "tags": [
          "Usuários"
        ],
        "summary": "Obtém as configurações do usuário autenticado com suporte a ETag.",
        "description": "Retorna as configurações do usuário atualmente autenticado, como tema, idioma, tela inicial e preferências do sistema de bônus. O endpoint utiliza ETag para otimizar o tráfego, retornando o status 304 Not Modified quando apropriado.",
        "operationId": "GetCurrentUserSettings",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSettingsSyncResponse"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "patch": {
        "tags": [
          "Usuários"
        ],
        "summary": "Atualiza as configuracoes do usuario autenticado com concorrencia otimista.",
        "description": "Permite atualizar as configurações do usuário autenticado utilizando controle de concorrência otimista. O endpoint utiliza o cabeçalho HTTP If-Match para garantir que as configurações do usuário não foram modificadas por outro cliente desde a última leitura. Se o ETag não corresponder, a solicitação será rejeitada, orientando o cliente a atualizar os dados antes de tentar novamente.",
        "operationId": "PatchCurrentUserSettingsOfflineFirst",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchUserSettingsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSettingsSyncResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "412": {
            "description": "Precondition Failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v2/usuarios/bonus": {
      "get": {
        "tags": [
          "Usuários"
        ],
        "summary": "Obtém pontos e conquistas do usuário autenticado com suporte a ETag.",
        "description": "Retorna as informações de pontos e conquistas do usuário atualmente autenticado. O endpoint utiliza ETag para otimizar o tráfego, retornando o status 304 Not Modified quando apropriado.",
        "operationId": "GetCurrentUserBonus",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserBonusSyncResponse"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v2/usuarios/sync": {
      "post": {
        "tags": [
          "Usuários"
        ],
        "summary": "Retorna configurações e dados de gamificação alterados desde o último cursor do cliente.",
        "description": "Permite que o cliente sincronize as configurações e dados de gamificação do usuário autenticado, retornando apenas as informações que foram alteradas desde o último cursor fornecido pelo cliente. O cursor é um valor opaco que representa o estado dos dados no momento da última sincronização, permitindo uma atualização eficiente e incremental.",
        "operationId": "SyncCurrentUserData",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncUserDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDataSyncResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v2/usuarios/exportar-csv": {
      "post": {
        "tags": [
          "Usuários"
        ],
        "summary": "Baixa os dados do usuário autenticado em CSV.",
        "description": "Permite que o usuário autenticado exporte seus dados de perfil em formato CSV por meio de uma solicitação HTTP POST. O endpoint retorna um arquivo CSV contendo os dados do perfil do usuário autenticado, gerado dinamicamente e nomeado com o identificador do usuário. Apenas usuários autenticados podem acessar este recurso.",
        "operationId": "ExportCurrentUserProfileCsv",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v2/notifications/devices": {
      "post": {
        "tags": [
          "Notificacoes"
        ],
        "summary": "Registra ou atualiza o dispositivo do usuário para receber notificações.",
        "description": "Este endpoint permite que o usuário registre ou atualize as informações do seu dispositivo para receber notificações push. O usuário deve fornecer um token de dispositivo válido e o tipo de plataforma (iOS ou Android). Se o dispositivo já estiver registrado, as informações serão atualizadas.",
        "operationId": "RegisterPushDevice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterPushDeviceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PushDeviceRegistrationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v2/notifications": {
      "get": {
        "tags": [
          "Notificacoes"
        ],
        "summary": "Lista notificações do usuário autenticado.",
        "description": "Este endpoint retorna uma lista de notificações para o usuário autenticado. O usuário pode optar por receber apenas as notificações não lidas, definindo o parâmetro 'unreadOnly' como true. As notificações são retornadas em ordem decrescente de data de criação.",
        "operationId": "ListNotifications",
        "parameters": [
          {
            "name": "unreadOnly",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NotificationInboxItemResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v2/notifications/unread-count": {
      "get": {
        "tags": [
          "Notificacoes"
        ],
        "summary": "Retorna a quantidade de notificações não lidas.",
        "description": "Este endpoint retorna a quantidade de notificações não lidas para o usuário autenticado. Este endpoint é útil para exibir um contador de notificações não lidas na interface do usuário, permitindo que o usuário saiba quantas notificações ainda precisam ser visualizadas.",
        "operationId": "GetUnreadNotificationCount",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "pattern": "^-?(?:0|[1-9]\\d*)$",
                  "type": [
                    "integer",
                    "string"
                  ],
                  "format": "int32"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v2/notifications/{recipientId}/read": {
      "patch": {
        "tags": [
          "Notificacoes"
        ],
        "summary": "Marca uma notificação como lida.",
        "description": "Este endpoint permite que o usuário marque uma notificação específica como lida, usando o ID do destinatário da notificação. O usuário deve fornecer um ID de destinatário válido para que a notificação seja marcada como lida.",
        "operationId": "MarkNotificationAsRead",
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v2/notifications/read-all": {
      "patch": {
        "tags": [
          "Notificacoes"
        ],
        "summary": "Marca todas as notificações do usuário como lidas.",
        "description": "Este endpoint permite que o usuário marque todas as suas notificações como lidas de uma só vez. O usuário deve estar autenticado para usar este endpoint, e todas as notificações associadas ao usuário serão marcadas como lidas.",
        "operationId": "MarkAllNotificationsAsRead",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v2/tasks": {
      "get": {
        "tags": [
          "Tarefas"
        ],
        "summary": "Lista as tarefas do usuario autenticado para uma data ou intervalo informado.",
        "description": "Retorna apenas tarefas do usuario autenticado. Quando IncludeRecurring=true, recorrencias podem ser materializadas no periodo consultado. O endpoint retorna ETag e aceita If-None-Match para cache.",
        "operationId": "ListTasks",
        "parameters": [
          {
            "name": "ReferenceDate",
            "in": "query",
            "description": "Filtra pela data de referencia.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DateFrom",
            "in": "query",
            "description": "Data inicial do intervalo.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DateTo",
            "in": "query",
            "description": "Data final do intervalo.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "IsCompleted",
            "in": "query",
            "description": "Filtra pelo status de conclusao.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Priority",
            "in": "query",
            "description": "Filtra pela prioridade da tarefa.",
            "schema": {
              "$ref": "#/components/schemas/TaskPriority"
            }
          },
          {
            "name": "SearchTerm",
            "in": "query",
            "description": "Termo livre para pesquisa em resumo e anotacoes.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IncludeRecurring",
            "in": "query",
            "description": "Indica se tarefas recorrentes devem ser consideradas na consulta.\r\nQuando verdadeiro, o sistema pode materializar as ocorrencias do periodo consultado.",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TaskListItemResponse"
                  }
                }
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Tarefas"
        ],
        "summary": "Cria uma nova tarefa para o usuario autenticado.",
        "description": "Permite cadastrar tarefa simples ou recorrente. Se a tarefa ja nascer concluida, a regra de pontuacao de TaskCompletion pode ser aplicada.",
        "operationId": "CreateTask",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/tasks/push-sync": {
      "post": {
        "tags": [
          "Tarefas"
        ],
        "summary": "Processa em lote as mutacoes pendentes da outbox de tarefas.",
        "description": "Recebe operacoes de create, update, conclusao e delete geradas offline pelo cliente. Cada item e processado individualmente com retorno de sucesso, conflito, validacao ou falha.",
        "operationId": "PushSyncTasks",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskPushSyncRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskPushSyncResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/tasks/sync": {
      "post": {
        "tags": [
          "Tarefas"
        ],
        "summary": "Retorna alteracoes incrementais de tarefas para sincronizacao offline-first.",
        "description": "Usa o cursor Since para retornar upserts e tombstones desde a ultima sincronizacao. Quando WindowStart e WindowEnd sao informados com IncludeRecurring=true, a API materializa ocorrencias recorrentes dentro da janela antes de montar a resposta.",
        "operationId": "SyncTasks",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncTasksRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskSyncResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/tasks/{taskId}": {
      "get": {
        "tags": [
          "Tarefas"
        ],
        "summary": "Obtem os detalhes completos de uma tarefa.",
        "description": "Retorna apenas a tarefa pertencente ao usuario autenticado. O endpoint retorna ETag e aceita If-None-Match para cache.",
        "operationId": "GetTask",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskDetailsResponse"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Tarefas"
        ],
        "summary": "Edita uma tarefa do usuario autenticado.",
        "description": "Aceita If-Match para concorrencia otimista via ETag. Se o estado de conclusao mudar, a pontuacao da tarefa e ajustada automaticamente.",
        "operationId": "UpdateTask",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaskRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Tarefas"
        ],
        "summary": "Remove logicamente uma tarefa do usuario autenticado.",
        "description": "Aceita If-Match para concorrencia otimista via ETag. A tarefa nao e apagada fisicamente: ela vira um tombstone para sincronizacao offline-first. Se a tarefa for a base de uma recorrencia, as ocorrencias geradas da serie tambem sao removidas logicamente.",
        "operationId": "DeleteTask",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/tasks/{taskId}/completion": {
      "patch": {
        "tags": [
          "Tarefas"
        ],
        "summary": "Marca ou desmarca uma tarefa como concluida.",
        "description": "Aceita If-Match para concorrencia otimista via ETag. Ao concluir, o usuario recebe os pontos da regra TaskCompletion ativa. Ao desfazer a conclusao, esses pontos sao revertidos.",
        "operationId": "SetTaskCompletion",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetTaskCompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/goals": {
      "get": {
        "tags": [
          "Metas/Objetivos"
        ],
        "summary": "Lista as metas do usuário autenticado.",
        "description": "Retorna apenas metas do usuário autenticado, com filtros por status, tipo, prioridade, recompensa configurada e termo de busca. O endpoint retorna ETag e aceita If-None-Match para cache.",
        "operationId": "ListGoals",
        "parameters": [
          {
            "name": "Status",
            "in": "query",
            "description": "Status da meta (Pendente, Em Progresso, Concluída, etc.).",
            "schema": {
              "$ref": "#/components/schemas/GoalStatus"
            }
          },
          {
            "name": "Type",
            "in": "query",
            "description": "Tipo de meta (Curto Prazo, Longo Prazo, etc.).",
            "schema": {
              "$ref": "#/components/schemas/GoalType"
            }
          },
          {
            "name": "Priority",
            "in": "query",
            "description": "Prioridade da meta (Baixa, Média, Alta).",
            "schema": {
              "$ref": "#/components/schemas/TaskPriority"
            }
          },
          {
            "name": "OnlyRewarded",
            "in": "query",
            "description": "Indica se a meta é recompensada ou não. Se true, retorna apenas metas recompensadas; se false, retorna apenas metas não recompensadas; se null, retorna todas as metas independentemente de serem recompensadas ou não.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "SearchTerm",
            "in": "query",
            "description": "Termo a buscar no título ou descrição da meta. Se fornecido, retorna apenas metas que contenham esse termo no título ou descrição. Se null ou vazio, retorna todas as metas independentemente do conteúdo do título ou descrição.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GoalListItemResponse"
                  }
                }
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Metas/Objetivos"
        ],
        "summary": "Cria uma nova meta para o usuário autenticado.",
        "description": "Permite cadastrar metas com tipo, prioridade, status e pontos de recompensa fixos opcionais. Se a meta já nascer concluída, a recompensa configurada ou a regra GoalCompletion ativa pode ser aplicada.",
        "operationId": "CreateGoal",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGoalRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoalDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/goals/push-sync": {
      "post": {
        "tags": [
          "Metas/Objetivos"
        ],
        "summary": "Processa em lote as mutacoes pendentes da outbox de metas.",
        "description": "Recebe operações de create, update e delete geradas offline pelo cliente. Cada item e processado individualmente com retorno de sucesso, conflito, validação ou falha.",
        "operationId": "PushSyncGoals",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoalPushSyncRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoalPushSyncResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/goals/sync": {
      "post": {
        "tags": [
          "Metas/Objetivos"
        ],
        "summary": "Retorna alterações incrementais de metas para sincronização offline-first.",
        "description": "Usa o cursor Since para retornar upserts e tombstones desde a última sincronização do cliente.",
        "operationId": "SyncGoals",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncGoalsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoalSyncResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/goals/{goalId}": {
      "get": {
        "tags": [
          "Metas/Objetivos"
        ],
        "summary": "Obtém os detalhes completos de uma meta.",
        "description": "Retorna apenas a meta pertencente ao usuário autenticado. O endpoint retorna ETag e aceita If-None-Match para cache.",
        "operationId": "GetGoal",
        "parameters": [
          {
            "name": "goalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoalDetailsResponse"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Metas/Objetivos"
        ],
        "summary": "Edita uma meta do usuário autenticado.",
        "description": "Aceita If-Match para concorrência otimista via ETag. Se o status mudar para concluída, a recompensa da meta é ajustada automaticamente.",
        "operationId": "UpdateGoal",
        "parameters": [
          {
            "name": "goalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateGoalRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoalDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Metas/Objetivos"
        ],
        "summary": "Remove logicamente uma meta do usuário autenticado.",
        "description": "Aceita If-Match para concorrência otimista via ETag. A meta não é apagada fisicamente: ela vira um tombstone para sincronização offline-first.",
        "operationId": "DeleteGoal",
        "parameters": [
          {
            "name": "goalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/notes": {
      "get": {
        "tags": [
          "Anotações"
        ],
        "summary": "Lista as anotações do usuário autenticado.",
        "description": "Retorna apenas anotações do usuário autenticado, com filtros por termo de busca, data de criação e data de atualização. O endpoint retorna ETag e aceita If-None-Match para cache.",
        "operationId": "ListNotes",
        "parameters": [
          {
            "name": "SearchTerm",
            "in": "query",
            "description": "Termo a buscar no assunto ou conteúdo da anotacao.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CreatedFrom",
            "in": "query",
            "description": "Data de criação ou atualização da anotacao para filtrar os resultados.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "CreatedTo",
            "in": "query",
            "description": "Data de criação ou atualização da anotacao para filtrar os resultados.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedFrom",
            "in": "query",
            "description": "Data de atualização da anotacao para filtrar os resultados.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedTo",
            "in": "query",
            "description": "Data de atualização da anotacao para filtrar os resultados.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NoteListItemResponse"
                  }
                }
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Anotações"
        ],
        "summary": "Cria uma nova anotação para o usuário autenticado.",
        "description": "Permite cadastrar anotações livres, inclusive com ClientGeneratedId para criação offline com ID estável no cliente.",
        "operationId": "CreateNote",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNoteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/notes/push-sync": {
      "post": {
        "tags": [
          "Anotações"
        ],
        "summary": "Processa em lote as mutações pendentes da outbox de anotações.",
        "description": "Recebe operações de create, update e delete geradas offline pelo cliente. Cada item é processado individualmente com retorno de sucesso, conflito, validação ou falha.",
        "operationId": "PushSyncNotes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotePushSyncRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotePushSyncResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/notes/sync": {
      "post": {
        "tags": [
          "Anotações"
        ],
        "summary": "Retorna alterações incrementais de anotações para sincronização offline-first.",
        "description": "Usa o cursor Since para retornar upserts e tombstones desde a última sincronização do cliente.",
        "operationId": "SyncNotes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncNotesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteSyncResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/notes/{noteId}": {
      "get": {
        "tags": [
          "Anotações"
        ],
        "summary": "Obtém os detalhes completos de uma anotação.",
        "description": "Retorna apenas a anotação pertencente ao usuário autenticado. O endpoint retorna ETag e aceita If-None-Match para cache.",
        "operationId": "GetNote",
        "parameters": [
          {
            "name": "noteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteDetailsResponse"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Anotações"
        ],
        "summary": "Edita uma anotação do usuário autenticado.",
        "description": "Aceita If-Match para concorrência otimista via ETag.",
        "operationId": "UpdateNote",
        "parameters": [
          {
            "name": "noteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNoteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Anotações"
        ],
        "summary": "Remove logicamente uma anotação do usuário autenticado.",
        "description": "Aceita If-Match para concorrência otimista via ETag. A anotação não é apagada fisicamente: ela vira um tombstone para sincronização offline-first.",
        "operationId": "DeleteNote",
        "parameters": [
          {
            "name": "noteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/readings": {
      "get": {
        "tags": [
          "Leituras"
        ],
        "parameters": [
          {
            "name": "Status",
            "in": "query",
            "description": "Status da leitura (ex: \"Lendo\", \"Lido\", \"Quero Ler\"). Se nulo, retorna leituras de todos os status.",
            "schema": {
              "$ref": "#/components/schemas/ReadingStatus"
            }
          },
          {
            "name": "Format",
            "in": "query",
            "description": "Formato da leitura (ex: \"Livro\", \"Audiolivro\", \"E-book\"). Se nulo, retorna leituras de todos os formatos.",
            "schema": {
              "$ref": "#/components/schemas/ReadingFormat"
            }
          },
          {
            "name": "Genre",
            "in": "query",
            "description": "Genero da leitura (ex: \"Ficção\", \"Não-ficção\", \"Fantasia\"). Se nulo, retorna leituras de todos os gêneros.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "RatingFrom",
            "in": "query",
            "description": "Classificação da leitura (ex: 1 a 5 estrelas). Se nulo, retorna leituras de todas as classificações.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "RatingTo",
            "in": "query",
            "description": "Classificação máxima da leitura (ex: 1 a 5 estrelas). Se nulo, retorna leituras de todas as classificações.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "StartedFrom",
            "in": "query",
            "description": "Iniciada a leitura a partir de uma data específica. Se nulo, retorna leituras iniciadas em qualquer data.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "StartedTo",
            "in": "query",
            "description": "Finalizada a leitura até uma data específica. Se nulo, retorna leituras finalizadas em qualquer data.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "SearchTerm",
            "in": "query",
            "description": "Termo de pesquisa para filtrar leituras por título, autores ou resumo. Se nulo, retorna todas as leituras.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReadingListItemResponse"
                  }
                }
              }
            }
          },
          "304": {
            "description": "Not Modified"
          }
        }
      },
      "post": {
        "tags": [
          "Leituras"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReadingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadingDetailsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/readings/push-sync": {
      "post": {
        "tags": [
          "Leituras"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReadingPushSyncRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadingPushSyncResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/readings/sync": {
      "post": {
        "tags": [
          "Leituras"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncReadingsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadingSyncResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/readings/{readingId}": {
      "get": {
        "tags": [
          "Leituras"
        ],
        "parameters": [
          {
            "name": "readingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadingDetailsResponse"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified"
          }
        }
      },
      "put": {
        "tags": [
          "Leituras"
        ],
        "parameters": [
          {
            "name": "readingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReadingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadingDetailsResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Leituras"
        ],
        "parameters": [
          {
            "name": "readingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/v2/readings/{readingId}/progress": {
      "patch": {
        "tags": [
          "Leituras"
        ],
        "parameters": [
          {
            "name": "readingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReadingProgressRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadingDetailsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/shopping": {
      "get": {
        "tags": [
          "Compras"
        ],
        "parameters": [
          {
            "name": "IsFinalized",
            "in": "query",
            "description": "Indica se a consulta deve retornar apenas as listas de compras finalizadas. Se for nulo, retorna todas as listas.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Type",
            "in": "query",
            "description": "Tipo de lista de compras a ser filtrada. Se for nulo, retorna todas as listas independentemente do tipo.",
            "schema": {
              "$ref": "#/components/schemas/ShoppingListType"
            }
          },
          {
            "name": "Place",
            "in": "query",
            "description": "Local onde a lista de compras será utilizada. Se for nulo, retorna todas as listas independentemente do local.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SearchTerm",
            "in": "query",
            "description": "Termo de pesquisa para filtrar listas de compras pelo nome. Se for nulo, retorna todas as listas independentemente do nome.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShoppingListListItemResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Compras"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateShoppingListRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShoppingListDetailsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/shopping/push-sync": {
      "post": {
        "tags": [
          "Compras"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShoppingListPushSyncRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShoppingListPushSyncResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/shopping/sync": {
      "post": {
        "tags": [
          "Compras"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncShoppingListsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShoppingListSyncResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/shopping/{shoppingListId}": {
      "get": {
        "tags": [
          "Compras"
        ],
        "parameters": [
          {
            "name": "shoppingListId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShoppingListDetailsResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Compras"
        ],
        "parameters": [
          {
            "name": "shoppingListId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShoppingListRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShoppingListDetailsResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Compras"
        ],
        "parameters": [
          {
            "name": "shoppingListId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/v2/finances": {
      "get": {
        "tags": [
          "Finanças"
        ],
        "summary": "Lista os lançamentos financeiros do usuário autenticado, com suporte a filtros e ETag para cacheamento eficiente.",
        "description": "Retorna a lista de lançamentos financeiros do usuário autenticado, com suporte a filtragem por data, tipo, categoria, etc. Responde com ETag da coleção filtrada e 304 Not Modified quando o cliente envia If-None-Match compatível.",
        "parameters": [
          {
            "name": "Year",
            "in": "query",
            "description": "Ano para filtrar as entradas financeiras. Se fornecido, retornará apenas as entradas do ano especificado.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "Month",
            "in": "query",
            "description": "Mês para filtrar as entradas financeiras. Se fornecido, retornará apenas as entradas do mês especificado. Deve ser usado em conjunto com o filtro de ano para garantir resultados precisos.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "DateFrom",
            "in": "query",
            "description": "Data inicial para filtrar as entradas financeiras. Se fornecido, retornará apenas as entradas a partir desta data.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DateTo",
            "in": "query",
            "description": "Data final para filtrar as entradas financeiras. Se fornecido, retornará apenas as entradas até esta data.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "EntryType",
            "in": "query",
            "description": "Tipo de entrada financeira para filtrar os resultados. Se fornecido, retornará apenas as entradas do tipo especificado (por exemplo, receita ou despesa).",
            "schema": {
              "$ref": "#/components/schemas/FinanceEntryType"
            }
          },
          {
            "name": "PaymentMethod",
            "in": "query",
            "description": "Forma de pagamento para filtrar as entradas financeiras. Se fornecido, retornará apenas as entradas associadas à forma de pagamento especificada (por exemplo, cartão de crédito, dinheiro, etc.).",
            "schema": {
              "$ref": "#/components/schemas/FinancePaymentMethod"
            }
          },
          {
            "name": "IsPaid",
            "in": "query",
            "description": "Indica se a entrada financeira foi paga. Se fornecido, retornará apenas as entradas que correspondem ao status de pagamento especificado.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsRecurring",
            "in": "query",
            "description": "Indica se a entrada financeira é recorrente. Se fornecido, retornará apenas as entradas que correspondem ao status de recorrência especificado.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Category",
            "in": "query",
            "description": "Categoria da entrada financeira para filtrar os resultados. Se fornecido, retornará apenas as entradas da categoria especificada.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SearchTerm",
            "in": "query",
            "description": "Termo de pesquisa para filtrar as entradas financeiras. Se fornecido, retornará apenas as entradas que correspondem ao termo de pesquisa especificado.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FinanceEntryListItemResponse"
                  }
                }
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Finanças"
        ],
        "summary": "Cria um lançamento financeiro para o usuário autenticado e retorna a representação criada com ETag para cacheamento e concorrência otimista.",
        "description": "Cria um lançamento financeiro para o usuário autenticado com os dados fornecidos. Retorna a representação do recurso criado, incluindo seu ID e ETag para futuras operações de cacheamento e concorrência otimista.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFinanceEntryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinanceEntryDetailsResponse"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v2/finances/summary/{year}/{month}": {
      "get": {
        "tags": [
          "Finanças"
        ],
        "summary": "Retorna o resumo mensal de receitas, despesas e saldo do usuário autenticado.",
        "description": "Retorna o resumo mensal de receitas, despesas e saldo do usuário autenticado para o mês e ano especificados.",
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "month",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinanceMonthSummaryResponse"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v2/finances/push-sync": {
      "post": {
        "tags": [
          "Finanças"
        ],
        "summary": "Processa a outbox offline de finanças do usuário autenticado, aplicando as mutações e retornando o resultado individual de cada operação.",
        "description": "Processa a outbox offline de finanças do usuário autenticado. Cada mutação é tratada de forma independente para que falhas parciais não bloqueiem o restante do lote. Retorna o resultado individual de cada operação, incluindo erros de validação, conflitos de concorrência e outros problemas.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FinanceEntryPushSyncRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinanceEntryPushSyncResponse"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
[...]
